{% extends "base_generic.html" %}

  {% block content %}
  
    <!--Portada Principal-->
    <section class="contacto container-fluid slider d-flex">
      <h1 class="display-4 d-block w-100"></h1>
    </section>
    <!--Header-->
    <header id="home">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <div class="header-content-rigth">
              <br><br>
              <h1 id="new" class="display-2">¿Quieres ser Parte de Nuestro Equipo?</h1>
              <p class="mt-5 h3">¡Ven y se parte de nuestro equipo, podrás aprender cosas nuevas, ganar toneladas de XP, logros desbloqueables y mucho, mucho conocimiento!.</p>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--Formulario-->
    
    <section id="bloque-1">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-3">
            <div>
              {% load static %}
              <img src="{% static 'img/form.jpg' %}" style="width: 100%;" alt="Press Start">
            </div>
          </div>
          <div class="col-md-6">
            <form id="formulario" action="{% url 'gracias' %}" class="card" method="post" onsubmit="return validacion()">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seleccione el Área a Postular</label>
                  <select name="noticia" required class="form-control" id="noticias">
                    <option value="">Seleccione una Área.</option>
                    <option value="1">Noticias VideoJuegos</option>
                    <option value="2">Noticias Consolas</option>
                    <option value="3">Publicidad en Área Gaming</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Ingrese sus Nombres:</label>
                  <input type="text" name="nombres" required placeholder="Nombres" minlength="3" class="form-control">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Ingrese sus Apellidos:</label>
                  <input type="text" name="apellidos" required placeholder="Apellidos" minlength="3" class="form-control">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Ingrese su Correo Electronico:</label>
                  <input type="email" name="email" required placeholder="ejemplo@email.com" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Ingrese su Número Telefónico:</label>
                  <input type="number" name="telefono" required placeholder="123456789" minlength="9" class="form-control" id="fono">
                </div>
                <div class="form-group required">
                  <label for="exampleFormControlSelect1">Indique su Nivel de Estudios:</label>
                  <select name="opcion" required class="form-control" id="opciones">
                    <option value="">Ingrese una Opción.</option>
                    <option value="1">Secundaria Completa.</option>
                    <option value="2">Técnico Profesional.</option>
                    <option value="3">Titulo Universitario.</option>
                    <option value="4">Ninguno.</option>
                  </select>
                </div>
                <div class="form-group green-border-focus">
                  <label for="formGroupExampleInput">Cuentanos porque quieres ser parte del Equipo: </label>
                  <textarea cols="30" rows="9" name="texto" required minlength="20" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-danger btn-block">Enviar Formulario</button>
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <div id="bootstrap" class="pt-4 pb-4 pr-4 pl-4">
              <h2>Implementa Bootstrap 4</h2>
              <a href="https://getbootstrap.com/" style="text-decoration: none;" target="_blank">
                {% load static %}
                <img src="{% static 'img/pub-bootstrap.png' %}" style="width: 100%;"alt="Publicidad Bootstrap">
              </a>
              <p class="mt-3">Personaliza tu página web de forma facil y sencilla!!!.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Secciones Inferiores-->
    <section id="secciones">
      <div class="container">
        <div class="row my-5">
          <div class="col-md-6">
            <h2 class="mt-3"><a href="{% url 'videogames' %}">Videojuegos</a></h2>
            <p class="h5 mb-4">Mantente siempre al día con todas las noticias relacionadas con los juegos que correran en las nuevas consolas de proxima generación, ¿Te las vas a perder?.</p>
          </div>
          <div class="col-md-6">
            <h2 class="mt-3"><a href="{% url 'consolas' %}">Consolas</a></h2>
            <p class="h5 mb-4">¿Eres fan de las consolas como Play Station y Xbox?, pues no esperes mas
              descubre todo acerca de la PS5 y la XBox Series X e incluso la Nintendo Switch,
              mantente siempre al día en nuestra página.</p>
          </div>
        </div>
      </div>
    </section>
   <!--JQuery Validation Scritps-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!--Configuración ScrollReveal-->
    <script>
      const sr = ScrollReveal();

      sr.reveal('#bloque-1', {
          duration: 2000,
          origin: 'bottom'
      });
    </script>
    <!--Configuración JQuery Validation-->
    <script>
      $(function() 
      {
        $("#formulario").validate({
            rules: {
                    nombres: "required",
                    apellidos: "required",
                    telefono: {
                      required: true,
                      digits: true
                    },
                    email: {
                        required: true,
                        email: true
                    }, 
                    texto: {
                        required: true
                    }   
                },
            messages: {
                email: {
                    required: 'Ingresa tu correo electrónico',
                    email: 'Formato de correo no válido'
                },
                nombres: {
                    required: 'Ingresa su(s) nombre(s)',
                    minlength: 'Caracteres insuficientes mínimo 3'
                },
                apellidos:{
                    required: 'Ingrese su(s) apellido(s)',
                    minlength: 'Caractéres insuficientes mínimo 3'
                },
                telefono:{
                    required: 'Ingrese un teléfono válido',
                    digits: 'porfavor digite solo números',
                    minlength: 'porfavor ingrese 9 digitos'
                },
                texto: {
                    required: 'Ingrese texto, al menos 20 caracteres.'                }
                }
        });
    }); 
    </script>
    <!--JavaScript Personalizado-->
    

{% endblock %}